<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DDB Web Studio</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <!-- Agrega SweetAlert2 JS y tu propio JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <img
      id="loguito_jugueton"
      src="/static/img/logo_click_me.png"
      alt="Logo DDB Web Studio"
    />
    <header class="header">
      <div id="div_titulo_main">
        <a href="../index.html">
          <img
            id="main_logo"
            src="/static/img/logo3.png"
            alt="Logo DDB Web Studio"
          />
        </a>
      </div>
      <div class="menusito-toggle">
        <div class="menusito-icon">
          <span class="menusito-line"></span>
          <span class="menusito-line"></span>
          <span class="menusito-line"></span>
        </div>
        <div class="close-icon"></div>
      </div>
      <nav class="navsito">
        <ul class="navsito__list">
          <li class="navsito__item">
            <a class="navsito__link" href="../index.html">Home</a>
          </li>
          <li class="navsito__item">
            <a class="navsito__link" href="./conoceme.html">Conóceme</a>
          </li>
          <li class="navsito__item">
            <a class="navsito__link" href="./servicios.html">Servicios</a>
          </li>
          <li class="navsito__item">
            <a class="navsito__link" href="./portafolio_apps.html"
              >Portafolio</a
            >
          </li>
          <li class="navsito__item">
            <a class="navsito__link" href="./contacto.html">Contacto</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="page-container">
      <div class="page-conoceme">
        <h1 class="page-conoceme__title">
          La Trayectoria de Deiker Verasmendi en el Desarrollo Web
        </h1>
        <div class="page-conoceme-img-text">
          <img
            src="../static/img/conoceme_perfil.jpg"
            alt="perfil"
            class="page-conoceme__image"
          />
          <p id="p_conoceme_text" class="page-conoceme__text">
            ¡Hola! Soy Deiker Dimas Verasmendi Bello, un apasionado ingeniero en
            telecomunicaciones de 30 años de edad, nacido en Venezuela.<br /><br />
            A lo largo de mi trayectoria, he descubierto mi verdadera pasión en
            el desarrollo web y la creación de aplicaciones. Siempre he tenido
            un espíritu emprendedor y me encanta trabajar arduamente, entregando
            lo mejor de mí en cada tarea. Cada proyecto en el que me involucro
            es una oportunidad para dejar mi marca y sentirme orgulloso de lo
            que puedo lograr para las personas. Mi mayor satisfacción es superar
            las expectativas de mis clientes y ofrecer soluciones que los
            sorprendan.
            <br /><br />
            Para mí, mi trabajo es más que solo una labor. Es una dedicación, un
            compromiso de dar lo mejor de mí mismo en cada línea de código que
            escribo. Me enfoco en satisfacer a mis clientes en todo lo posible,
            brindándoles resultados excepcionales y soluciones personalizadas.
            Mi trabajo no solo está dedicado a quienes lo reciben, sino también
            a mí mismo. <br /><br />
            Cada proyecto que llevo a cabo me recuerda que estoy en el lugar
            correcto, siguiendo mi pasión y haciendo lo que amo. Te doy una
            cálida bienvenida a este espacio, que es una representación de quién
            soy. Aquí encontrarás una ventana a mi estilo de vida, mis estudios
            y mi inspiración.<br /><br />
            Es un lugar donde puedes aprender, explorar y sumergirte en un mundo
            lleno de amor y dedicación. Agradezco sinceramente que te hayas
            acercado y espero que disfrutes de tu estadía en este espacio que
            refleja mi esencia.
          </p>
          <img
            src="../static/img/firma_desarrollador.png"
            alt="firma"
            class="page-conoceme__firma-desarrollador-image"
          />
        </div>
      </div>
    </div>

    <!-- UNETE a MI LISTA-->
    <div class="main-containers">
      <div class="main-containers__left-container">
        <h2 class="main-containers__left-title">DDB Web Studio</h2>
        <p class="main-containers__left-paragraph">
          Únete a mi lista y recibirás sorpresas súper cool. Tips, noticias y
          más.
        </p>
      </div>
      <div class="main-containers__right-container">
        <h2 class="main-containers__right-title">ÚNETE A MI LISTA</h2>
        <form class="main-containers__right-form" method="POST">
          <input
            type="email"
            class="main-containers__right-input"
            placeholder="Email Address"
          />
          <input
            type="name"
            class="main-containers__right-input"
            placeholder="Full name"
          />
          <button type="submit" class="main-containers__right-button" disabled>
            Enviar
          </button>
        </form>
      </div>
    </div>

    <footer class="footer">
      <div class="footer__container">
        <div class="footer__social-icons">
          <a
            class="footer__social-icon"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="/static/img/ig.png" alt="Instagram" />
          </a>
          <a
            class="footer__social-icon"
            href="https://es-la.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="/static/img/facebook.png" alt="Facebook" />
          </a>
          <a
            class="footer__social-icon"
            href="https://cl.linkedin.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="/static/img/linkedin.png" alt="LinkedIn" />
          </a>
          <a class="footer__social-icon" href="mailto:correo@example.com">
            <img src="/static/img/email.png" alt="Correo Electrónico" />
          </a>
        </div>
        <p class="footer__text">
          Santiago de Chile, © 2023 All rights reserved. DDB Web Studio.
          Designed by DDB Web Studio
        </p>
      </div>
    </footer>
  </body>
</html>
<script src="/js/style.js"></script>
